.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.smurf-container {
 
}

.smurf, .smurfForm {
  background-color: blue;
  width: 300px;
  margin: 20px auto;
  padding: 10px;
  border: solid 2px black;
  /*text-shadow: 1px 1px 1px white;*/
  font-weight: 900;
  border-radius: 5px;
}
